POSTGRES_DB=vpn_db
POSTGRES_USER=vpn_user
POSTGRES_PASSWORD=CHANGE_ME

DATABASE_URL=postgresql+psycopg2://vpn_user:CHANGE_ME@127.0.0.1:5432/vpn_db

MARZBAN_BASE_URL=http://127.0.0.1:8000
MARZBAN_USERNAME=CHANGE_ME
MARZBAN_PASSWORD=CHANGE_ME

SECRET_KEY=CHANGE_ME
ALGORITHM=CHANGE_ME
